:root{
    --cinzaEscuro: #888;
    --preto: #333;
    --verde: #51D275;
    --laranja: #DC9730;
    --branco: #FFF;
    --cinzaClaro: #EEE;
    --blur: #C4C4C4, 50%;
}

body {
    font-family: 'Ropa Sans', sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.top-bar img {
    height: 15px;
}

.logo img {
    height: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 60px 70px 60px;
}

.button-darkmode {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgb(94, 94, 94);
    transition: all linear 0.1s;
}

.button-darkmode:hover {
    background-color: #000;
    color: #FFF;
}

.banner,
.banner-img {
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.button-arrow {
    background: rgba(141, 141, 141, 0.62);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-arrow.-left {
    left: 70px;
}

.button-arrow.-right {
    right: 70px;
}

.products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.products article {
    width: 500px;
}

.products article img {
    width: 100%;
}

.descricao {
    background-color: var(--cinzaClaro);
    text-align: justify;
    padding: 15px;
}

.products article .value {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--cinzaEscuro);
}

.value .tag {
    color: var(--branco);
    padding: 4px 17px;
    border-radius: 15px;
}

.value .tag.-verde {
    background-color: var(--verde);
}

.value .tag.-laranja {
    background-color: var(--laranja);
}

.products article .img-wrapper {
    height: 280px;
}

.styles{
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.styles h2 {
    color: var(--cinzaEscuro);
}

.categorys {
    width: 100%;
    margin-top: 20px;
    padding: 40px 0;
    color: #FFF;
    opacity: 0.6;
}

.categorys.-industrial {
    background-image: url(../img/Rectangle11.svg);
    background-size: cover; 
}

.categorys.-modern {
    background-image: url(../img/Rectangle12.svg);
    background-size: cover;
}

.categorys.-classic {
    background-image: url(../img/Rectangle13.svg);
    background-size: cover;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: var(--preto);
}

footer .map {
    width: 400px;
}

footer article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFF;
}

footer article div p {
    margin-bottom: 10px;
}

.social-icons img:nth-child(2) {
    margin: 0 25px;
}

.darkmode {
    background-color: #181818;
    color: #FFF;
}

.darkmode .products .descricao,
.darkmode footer {
    background-color: #000;
}